table,th,td{
    border:1px solid;
    text-align: center;
    margin-left: auto;  
    margin-right: auto;  

}
h1 {
    color: #3498db;
}

.heading {
    color: #db34a3; 
}

.sort-section {
    color: #db7f34; /* Set the text color to blue */
}

.sort-section label {
    font-weight: bold;
}

